html, body {
	height: 100% !important;
}

body {
	/*overflow-y: scroll!important;*/
	font-family: "Raleway", Verdana, Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #fff;
}

.navbar {
	border: none;
	min-height: 100px;
	margin: 0;
	font-weight: 700;
	font-size: 13px;
	text-transform: uppercase;
}

.b-navbar_content {
	padding: 25px 0;
	border-bottom: 1px solid #4e5167;
}

.banner {
	height: 750px;
}

.b-navbar_links {
	color: #fff;
}

.abs-center {
	margin: 13% 12%;
}

.abs-center h1 {
	font-size: 65px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 40px;
	font-family: "OpenSansBold";
}

.abs-center .b-banner-title{
	display: inline-block;
}

.abs-center .b-banner-description {
	display: inline-block;
	font-size: 22px;
}

.abs-center .b-banner-link {
	padding: 18px 53px;
	background-color: #e84545;
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 80px;
}

.about {
	padding: 120px 0;
}

.about .media-object {
	margin: auto;
}

.about h3 {
	color: #2d3033;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	margin: 25px 0;
}

.about h4 {
	color: #6c7279;
	font-size: 14px;
	line-height: 21px;
}

.b-features-first_block {
	margin-bottom: 75px;
}

.photos {
	text-align: center;
	/*margin-bottom: 100px;*/
}

.b-photos_block {
	width: 470px;
	height: 350px;
	overflow: hidden;
	display: inline-block;
	margin: -2px -1px;
	position: relative;;
}

.b-photos_block .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(213, 66, 66, 0.75);
}

.b-photos_block .overlay h4 {
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 33%;
}

.b-photos_block:hover .overlay {
	display: block !important;
	top:0;
	left:0;
	border-radius:0;
}

footer {
	padding: 70px 0 85px 0;
	background-color: #3a3e64;
}

footer h4 {
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 20px;
}

footer p {
	line-height: 22.5px;
	color: #9092a7;
}

.copyright {
	background-color: #292c47;
	color: #9092a7;
	line-height: 22.5px;
	padding: 30px 0;
}

.heart {
	color: #EE2412;
}

.creator_name {
	font-family: "OpenSansBold";
	color: #fff;
}

.b-team-title {
	color: #2d3033;
	margin: 30px 0 15px 0;
	font-size: 22px;
}

.b-team-position {
	color: #e84545;
	margin: 0 0 30px 0;
	font-size: 13px;
	text-transform: uppercase;
}

.b-team-description {
	color: #6c7279;
	margin: 0 0 30px 0;
	font-size: 14px;
}

.m-hover_effect:hover {
	opacity: 0.5;
}


	*{
		box-sizing: border-box;
	}

	section{
		display: block;
	}

	a{
		text-decoration: none;
	}

	.section {
		padding: 100px 0;
	}

	.container {
		/*width: 100%;*/
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}

	.container:before{
		display: table;
		content: " ";
	}

	.container:after{
		display: table;
		content: " ";
		clear:both;
	}

	.text-center{
		text-align: center;
	}

	.col-md-8 {
		width: 50%;
		padding-right: 15px;
		padding-left: 15px;
		margin: 0 auto;
	}

	.download h3 {
		margin-top: 0;
		font-size: 28px;
		color: #2d3033;
		font-weight: 300;
		margin-bottom: 10px;
		font-family: inherit;
		line-height: 1.1;
	}

	.download p {
		color: #2d3033;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 22.4px;
		margin: 0 0 10px;
	}

	.download #btn {
		margin-top: 30px;
		padding: 15px 40px;
		background-color: #e84545;
		color: #fff;
		font-size: 13px;
		font-weight: 600;
		border: 0;
		border-radius: 2px;
		display: inline-block;
		text-transform: uppercase;
	}
